<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie2.mapper.PosterMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
	id,	fid,	title,	url,	status,	create_time,	update_time
	</sql>

	<resultMap type="Poster" id="baseMap">
		<result column="id" property="id"/>
		<result column="fid" property="fid"/>
		<result column="title" property="title"/>
		<result column="url" property="url"/>
		<result column="status" property="status"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultMap="baseMap" parameterType="java.lang.Integer">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM t_poster
		 WHERE id = #{id}
	</select>

	<!-- 查询表中所有信息 -->
	<select id="selectAllPosters" resultMap="baseMap">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM t_poster
	</select>

	<!-- 查询Map符合条件的全部信息  -->
	<select id="selectPostersCondition" resultMap="baseMap" parameterType="map">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM t_poster
	<!-- 条件自己写  -->
	</select>

	<!-- 查询Map符合条件的分页信息  -->
	<select id="selectPostersPerPageByCondition" resultMap="baseMap" parameterType="map">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM t_poster
	<!-- 条件自己写  -->
		 limit ${start},#{size}
	</select>

	<!-- 查询所有获得记录条数 -->
	<select id="selectPosterCount" resultType="java.lang.Integer">
		 SELECT
		 count(1)
		 FROM t_poster
	</select>

	<!-- 查询Map符合条件记录条数 -->
	<select id="selectPostersCountByCondition" resultType="java.lang.Integer"  parameterType="map" >
		 SELECT
		 count(1)
		 FROM t_poster
	<!-- 条件自己写  -->
	</select>

	<!-- 根据Bean条件查询匹配信息 -->
	<select id="selectPostersByCondition" resultType="Poster" parameterType="Poster">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM t_poster
		 <where> 
			<if test="id != null">
				 and  id = #{id}
			</if>
			<if test="fid != null">
				 and  fid = #{fid}
			</if>
			<if test="title != null">
				 and  title = #{title}
			</if>
			<if test="url != null">
				 and  url = #{url}
			</if>
			<if test="status != null">
				 and  status = #{status}
			</if>
			<if test="createTime != null">
				 and  create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				 and  update_time = #{updateTime}
			</if>
		 </where> 
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		 DELETE FROM t_poster
		 WHERE id = #{id}
	</delete>

	<!-- 删除：根据传入的对象内容，条件删除  -->
	<delete id="deleteByCondition" parameterType="Poster">
		 DELETE FROM t_poster
		 <where> 
			<if test="id != null">
				 and  id = #{id}
			</if>
			<if test="fid != null">
				 and  fid = #{fid}
			</if>
			<if test="title != null">
				 and  title = #{title}
			</if>
			<if test="url != null">
				 and  url = #{url}
			</if>
			<if test="status != null">
				 and  status = #{status}
			</if>
			<if test="createTime != null">
				 and  create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				 and  update_time = #{updateTime}
			</if>
		 </where> 
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="Poster">
		 INSERT INTO t_poster
 		(id,fid,title,url,status,create_time,update_time) 
		 VALUES 
 		(#{id},#{fid},#{title},#{url},#{status},#{createTime},#{updateTime}) 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="Poster">
		 INSERT INTO t_poster
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				 id,
			</if>
			<if test="fid != null">
				 fid,
			</if>
			<if test="title != null">
				 title,
			</if>
			<if test="url != null">
				 url,
			</if>
			<if test="status != null">
				 status,
			</if>
			<if test="createTime != null">
				 create_time,
			</if>
			<if test="updateTime != null">
				 update_time,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">
				 #{id},
			</if>
			<if test="fid!=null">
				 #{fid},
			</if>
			<if test="title!=null">
				 #{title},
			</if>
			<if test="url!=null">
				 #{url},
			</if>
			<if test="status!=null">
				 #{status},
			</if>
			<if test="createTime!=null">
				 #{createTime},
			</if>
			<if test="updateTime!=null">
				 #{updateTime},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="Poster">
		 UPDATE t_poster
 		 <set> 
			<if test="fid != null">
				 fid = #{fid},
			</if>
			<if test="title != null">
				 title = #{title},
			</if>
			<if test="url != null">
				 url = #{url},
			</if>
			<if test="status != null">
				 status = #{status},
			</if>
			<if test="createTime != null">
				 create_time = #{createTime},
			</if>
			<if test="updateTime != null">
				 update_time = #{updateTime},
			</if>

 		 </set>
		 WHERE id = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="Poster">
		 UPDATE t_poster
		 SET 
			 fid = #{fid},
			 title = #{title},
			 url = #{url},
			 status = #{status},
			 create_time = #{createTime},
			 update_time = #{updateTime}
		 WHERE id = #{id}
	</update>




</mapper>