<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" th:href="@{/resources/css/axure_rp_page.css}"  type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" th:href="@{/data/styles.css}" type="text/css" rel="stylesheet"/>
    <link href="files/orderlist/styles.css" th:href="@{/files/orderlist/styles.css}"  type="text/css" rel="stylesheet" />

    <script src="resources/scripts/jquery-3.2.1.min.js" th:attr="src=@{/resources/scripts/jquery-3.2.1.min.js}" ></script>
    <script src="resources/scripts/axure/axQuery.js"  th:attr="src=@{/resources/scripts/axure/axQuery.js}" ></script>
    <script src="resources/scripts/axure/globals.js"  th:attr="src=@{/resources/scripts/axure/globals.js}" ></script>

    <script src="resources/scripts/axutils.js"  th:attr="src=@{/resources/scripts/axutils.js}" ></script>
    <script src="resources/scripts/axure/annotation.js"  th:attr="src=@{/resources/scripts/axure/annotation.js}" ></script>
    <script src="resources/scripts/axure/axQuery.std.js"  th:attr="src=@{/resources/scripts/axure/axQuery.std.js}" ></script>
    <script src="resources/scripts/axure/doc.js"  th:attr="src=@{/resources/scripts/axure/doc.js}" ></script>
    <script src="resources/scripts/messagecenter.js"  th:attr="src=@{/resources/scripts/messagecenter.js}" ></script>

    <script src="resources/scripts/axure/events.js"  th:attr="src=@{/resources/scripts/axure/events.js}" ></script>
    <script src="resources/scripts/axure/recording.js"  th:attr="src=@{/resources/scripts/axure/recording.js}" ></script>
    <script src="resources/scripts/axure/action.js"  th:attr="src=@{/resources/scripts/axure/action.js}" ></script>
    <script src="resources/scripts/axure/expr.js"  th:attr="src=@{/resources/scripts/axure/expr.js}" ></script>
    <script src="resources/scripts/axure/geometry.js"  th:attr="src=@{/resources/scripts/axure/geometry.js}" ></script>

    <script src="resources/scripts/axure/flyout.js"  th:attr="src=@{/resources/scripts/axure/flyout.js}" ></script>
    <script src="resources/scripts/axure/model.js"  th:attr="src=@{/resources/scripts/axure/model.js}" ></script>
    <script src="resources/scripts/axure/repeater.js"  th:attr="src=@{/resources/scripts/axure/repeater.js}" ></script>
    <script src="resources/scripts/axure/sto.js"  th:attr="src=@{/resources/scripts/axure/sto.js}" ></script>
    <script src="resources/scripts/axure/utils.temp.js"  th:attr="src=@{/resources/scripts/axure/utils.temp.js}" ></script>

    <script src="resources/scripts/axure/variables.js"  th:attr="src=@{/resources/scripts/axure/variables.js}" ></script>
    <script src="resources/scripts/axure/drag.js"  th:attr="src=@{/resources/scripts/axure/drag.js}" ></script>
    <script src="resources/scripts/axure/move.js"  th:attr="src=@{/resources/scripts/axure/move.js}" ></script>
    <script src="resources/scripts/axure/visibility.js"  th:attr="src=@{/resources/scripts/axure/visibility.js}" ></script>
    <script src="resources/scripts/axure/style.js"  th:attr="src=@{/resources/scripts/axure/style.js}" ></script>

    <script src="resources/scripts/axure/adaptive.js"  th:attr="src=@{/resources/scripts/axure/adaptive.js}" ></script>
    <script src="resources/scripts/axure/tree.js"  th:attr="src=@{/resources/scripts/axure/tree.js}" ></script>
    <script src="resources/scripts/axure/init.temp.js"  th:attr="src=@{/resources/scripts/axure/init.temp.js}" ></script>
    <script src="resources/scripts/axure/legacy.js"  th:attr="src=@{/resources/scripts/axure/legacy.js}" ></script>
    <script src="resources/scripts/axure/viewer.js"  th:attr="src=@{/resources/scripts/axure/viewer.js}" ></script>

    <script src="resources/scripts/axure/math.js"  th:attr="src=@{/resources/scripts/axure/math.js}" ></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"  th:attr="src=@{/resources/scripts/axure/jquery.nicescroll.min.js}" ></script>
    <script src="data/document.js"  th:attr="src=@{/data/document.js}" ></script>
    <script src="files/orderlist/data.js"  th:attr="src=@{/files/orderlist/data.js}"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function() { return '/resources/images/transparent.gif'; };
        $axure.utils.getOtherPath = function() { return '/resources/Other.html'; };
        $axure.utils.getReloadPath = function() { return '/resources/reload.html'; };
    </script>
</head>
<body>
    <div id="base" class="">

        <!-- Unnamed (矩形) -->
        <div id="u924" class="ax_default box_3">
            <div id="u924_div" class=""></div>
            <div id="u924_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u925" class="ax_default box_1">
            <div id="u925_div" class=""></div>
            <div id="u925_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (图片 ) -->
        <div id="u926" class="ax_default _图片_">
            <img id="u926_img" class="img " src="images/login/u1.png"/>
            <div id="u926_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u927" class="ax_default label">
            <div id="u927_div" class=""></div>
            <div id="u927_text" class="text ">
                <p><span>后台管理</span></p>
            </div>
        </div>


        <!-- Unnamed (矩形) -->
        <div id="u928" class="ax_default box_2">
            <div id="u928_div" class=""></div>
            <div id="u928_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (动态面板) -->
        <div id="u929" class="ax_default">
            <div id="u929_state0" class="panel_state" data-label="State1" style="">
                <div id="u929_state0_content" class="panel_state_content">

                    <!-- Unnamed (矩形) -->
                    <div id="u930" class="ax_default box_2">
                        <div id="u930_div" class=""></div>
                        <div id="u930_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u931" class="ax_default box_1">
                        <div id="u931_div" class=""></div>
                        <div id="u931_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u932" class="ax_default label">
                        <div id="u932_div" class=""></div>
                        <div id="u932_text" class="text ">
                            <p><span>订单ID</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u933" class="ax_default label">
                        <div id="u933_div" class=""></div>
                        <div id="u933_text" class="text ">
                            <p><span>订单金额</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u934" class="ax_default label">
                        <div id="u934_div" class=""></div>
                        <div id="u934_text" class="text ">
                            <p><span>订单状态</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u935" class="ax_default label">
                        <div id="u935_div" class=""></div>
                        <div id="u935_text" class="text ">
                            <p><span>操作</span></p>
                        </div>
                    </div>

                    <div th:each="item,statu:${list}">
                        <!-- Unnamed (矩形) -->
                        <div id="u936" class="ax_default box_1">
                            <div id="u936_div" class=""></div>
                            <div id="u936_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        <!-- Unnamed (矩形) -->
                        <div id="u937" class="ax_default label">
                            <div id="u937_div" class=""></div>
                            <div id="u937_text" class="text ">
                                <p><span>3ee2-43f6-a4d2-0a326a31b429</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (矩形) -->
                        <div id="u938" class="ax_default label">
                            <div id="u938_div" class=""></div>
                            <div id="u938_text" class="text ">
                                <p><span>30</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (矩形) -->
                        <div id="u939" class="ax_default primary_button">
                            <div id="u939_div" class=""></div>
                            <div id="u939_text" class="text ">
                                <p><span>上报异常</span></p>
                            </div>
                        </div>
                        <!-- 1 (动态面板) -->
                        <div id="u940" class="ax_default ax_default_hidden" data-label="1" style="display:none; visibility: hidden">
                            <div id="u940_state0" class="panel_state" data-label="State1" style="">
                                <div id="u940_state0_content" class="panel_state_content">

                                    <!-- Unnamed (矩形) -->
                                    <div id="u941" class="ax_default box_1">
                                        <div id="u941_div" class=""></div>
                                        <div id="u941_text" class="text " style="display:none; visibility: hidden">
                                            <p></p>
                                        </div>
                                    </div>

                                    <!-- Unnamed (矩形) -->
                                    <div id="u942" class="ax_default label">
                                        <div id="u942_div" class=""></div>
                                        <div id="u942_text" class="text ">
                                            <p><span>订单ID:</span></p>
                                        </div>
                                    </div>

                                    <!-- Unnamed (矩形) -->
                                    <div id="u943" class="ax_default label">
                                        <div id="u943_div" class=""></div>
                                        <div id="u943_text" class="text ">
                                            <p><span>用户ID:</span></p>
                                        </div>
                                    </div>

                                    <!-- Unnamed (矩形) -->
                                    <div id="u944" class="ax_default label">
                                        <div id="u944_div" class=""></div>
                                        <div id="u944_text" class="text ">
                                            <p><span>电影ID:</span></p>
                                        </div>
                                    </div>

                                    <!-- Unnamed (矩形) -->
                                    <div id="u945" class="ax_default label">
                                        <div id="u945_div" class=""></div>
                                        <div id="u945_text" class="text ">
                                            <p><span>场次ID:</span></p>
                                        </div>
                                    </div>

                                    <!-- Unnamed (矩形) -->
                                    <div id="u946" class="ax_default label">
                                        <div id="u946_div" class=""></div>
                                        <div id="u946_text" class="text ">
                                            <p><span>电影名:</span></p>
                                        </div>
                                    </div>

                                    <!-- Unnamed (矩形) -->
                                    <div id="u947" class="ax_default label">
                                        <div id="u947_div" class=""></div>
                                        <div id="u947_text" class="text ">
                                            <p><span>座位号:</span></p>
                                        </div>
                                    </div>

                                    <!-- Unnamed (矩形) -->
                                    <div id="u948" class="ax_default label">
                                        <div id="u948_div" class=""></div>
                                        <div id="u948_text" class="text ">
                                            <p><span>订单金额:</span></p>
                                        </div>
                                    </div>

                                    <!-- Unnamed (矩形) -->
                                    <div id="u949" class="ax_default label">
                                        <div id="u949_div" class=""></div>
                                        <div id="u949_text" class="text ">
                                            <p><span>下单时间:</span></p>
                                        </div>
                                    </div>

                                    <!-- Unnamed (矩形) -->
                                    <div id="u950" class="ax_default label">
                                        <div id="u950_div" class=""></div>
                                        <div id="u950_text" class="text ">
                                            <p><span>支付时间:</span></p>
                                        </div>
                                    </div>

                                    <!-- Unnamed (矩形) -->
                                    <div id="u951" class="ax_default label">
                                        <div id="u951_div" class=""></div>
                                        <div id="u951_text" class="text ">
                                            <p><span>订单Id的数据</span></p>
                                        </div>
                                    </div>

                                    <!-- Unnamed (矩形) -->
                                    <div id="u952" class="ax_default label">
                                        <div id="u952_div" class=""></div>
                                        <div id="u952_text" class="text ">
                                            <p><span>用户Id的数据</span></p>
                                        </div>
                                    </div>

                                    <!-- Unnamed (矩形) -->
                                    <div id="u953" class="ax_default label">
                                        <div id="u953_div" class=""></div>
                                        <div id="u953_text" class="text ">
                                            <p><span>电影Id的数据</span></p>
                                        </div>
                                    </div>

                                    <!-- Unnamed (矩形) -->
                                    <div id="u954" class="ax_default label">
                                        <div id="u954_div" class=""></div>
                                        <div id="u954_text" class="text ">
                                            <p><span>场次Id的数据</span></p>
                                        </div>
                                    </div>

                                    <!-- Unnamed (矩形) -->
                                    <div id="u955" class="ax_default label">
                                        <div id="u955_div" class=""></div>
                                        <div id="u955_text" class="text ">
                                            <p><span>《 刺杀小说家 》电影名</span></p>
                                        </div>
                                    </div>

                                    <!-- Unnamed (矩形) -->
                                    <div id="u956" class="ax_default label">
                                        <div id="u956_div" class=""></div>
                                        <div id="u956_text" class="text ">
                                            <p><span>14号座位号</span></p>
                                        </div>
                                    </div>

                                    <!-- Unnamed (矩形) -->
                                    <div id="u957" class="ax_default label">
                                        <div id="u957_div" class=""></div>
                                        <div id="u957_text" class="text ">
                                            <p><span>30订单金额</span></p>
                                        </div>
                                    </div>

                                    <!-- Unnamed (矩形) -->
                                    <div id="u958" class="ax_default label">
                                        <div id="u958_div" class=""></div>
                                        <div id="u958_text" class="text ">
                                            <p><span>2022-01-19 14:28:05下单时间</span></p>
                                        </div>
                                    </div>

                                    <!-- Unnamed (矩形) -->
                                    <div id="u959" class="ax_default label">
                                        <div id="u959_div" class=""></div>
                                        <div id="u959_text" class="text ">
                                            <p><span>2022-01-19 14:28:05支付时间</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    <!-- 下拉1 (组合) -->
                    <div id="u960" class="ax_default" data-label="下拉1" data-left="9" data-top="80" data-width="20" data-height="18">

                        <!-- 上拉 (图片 ) -->
                        <div id="u961" class="ax_default _图片_ ax_default_hidden" data-label="上拉" style="display:none; visibility: hidden">
                            <img id="u961_img" class="img " src="images/影视管理--电影列表/下拉_u43.png"/>
                            <div id="u961_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        <!-- 下拉 (图片 ) -->
                        <div id="u962" class="ax_default _图片_" data-label="下拉">
                            <img id="u962_img" class="img " src="images/影视管理--电影列表/下拉_u43.png"/>
                            <div id="u962_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <!-- 2.1 (组合) -->
                    <div id="u963" class="ax_default" data-label="2.1" data-left="0" data-top="112" data-width="884" data-height="56">
                        <!-- Unnamed (矩形) -->
                        <div id="u973" class="ax_default primary_button">
                            <div id="u973_div" class=""></div>
                            <div id="u973_text" class="text ">
                                <p><span>撤销订单aaa</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (矩形) -->
                        <div id="u974" class="ax_default primary_button">
                            <div id="u974_div" class=""></div>
                            <div id="u974_text" class="text ">
                                <p><span>已被撤销bbb</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- 上传 (动态面板) -->
    <div id="u1025" class="ax_default ax_default_hidden" data-label="上传" style="display:none; visibility: hidden">
        <div id="u1025_state0" class="panel_state" data-label="State1" style="">
            <div id="u1025_state0_content" class="panel_state_content">

                <!-- Unnamed (矩形) -->
                <div id="u1026" class="ax_default box_3">
                    <div id="u1026_div" class=""></div>
                    <div id="u1026_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1027" class="ax_default box_1">
                    <div id="u1027_div" class=""></div>
                    <div id="u1027_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1028" class="ax_default label">
                    <div id="u1028_div" class=""></div>
                    <div id="u1028_text" class="text ">
                        <p><span>上报人</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1029" class="ax_default button">
                    <div id="u1029_div" class=""></div>
                    <div id="u1029_text" class="text ">
                        <p><span>取消</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1030" class="ax_default button">
                    <div id="u1030_div" class=""></div>
                    <div id="u1030_text" class="text ">
                        <p><span>确定</span></p>
                    </div>
                </div>

                <!-- Unnamed (图片 ) -->
                <div id="u1031" class="ax_default _图片_">
                    <img id="u1031_img" class="img " src="images/登录/u18.png"/>
                    <div id="u1031_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1032" class="ax_default label">
                    <div id="u1032_div" class=""></div>
                    <div id="u1032_text" class="text ">
                        <p><span>上报异常表单</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1033" class="ax_default label">
                    <div id="u1033_div" class=""></div>
                    <div id="u1033_text" class="text ">
                        <p><span>上报原因</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1034" class="ax_default box_1">
                    <div id="u1034_div" class=""></div>
                    <div id="u1034_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (动态面板) -->
    <div id="u1035" class="ax_default">
        <div id="u1035_state0" class="panel_state" data-label="State1" style="">
            <div id="u1035_state0_content" class="panel_state_content">

                <!-- Unnamed (矩形) -->
                <div id="u1036" class="ax_default box_3">
                    <div id="u1036_div" class=""></div>
                    <div id="u1036_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- 影视管理 (组合) -->
                <div id="u1037" class="ax_default" data-label="影视管理" data-left="0" data-top="0" data-width="259" data-height="234">

                    <!-- Unnamed (动态面板) -->
                    <div id="u1038" class="ax_default">
                        <div id="u1038_state0" class="panel_state" data-label="State1" style="">
                            <div id="u1038_state0_content" class="panel_state_content">

                                <!-- Unnamed (矩形) -->
                                <div id="u1039" class="ax_default box_2">
                                    <div id="u1039_div" class=""></div>
                                    <div id="u1039_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>

                                <!-- 电影列表1 (矩形) -->
                                <div id="u1040" class="ax_default box_3" data-label="电影列表1">
                                    <div id="u1040_div" class=""></div>
                                    <div id="u1040_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>

                                <!-- Unnamed (矩形) -->
                                <div id="u1041" class="ax_default label">
                                    <div id="u1041_div" class=""></div>
                                    <div id="u1041_text" class="text ">
                                        <p><span>电影列表</span></p>
                                    </div>
                                </div>

                                <!-- 院线排片1 (矩形) -->
                                <div id="u1042" class="ax_default box_3" data-label="院线排片1">
                                    <div id="u1042_div" class=""></div>
                                    <div id="u1042_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>

                                <!-- Unnamed (矩形) -->
                                <div id="u1043" class="ax_default label">
                                    <div id="u1043_div" class=""></div>
                                    <div id="u1043_text" class="text ">
                                        <p><span>院线排片</span></p>
                                    </div>
                                </div>

                                <!-- 新增电影1 (矩形) -->
                                <div id="u1044" class="ax_default box_3" data-label="新增电影1">
                                    <div id="u1044_div" class=""></div>
                                    <div id="u1044_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>

                                <!-- Unnamed (矩形) -->
                                <div id="u1045" class="ax_default label">
                                    <div id="u1045_div" class=""></div>
                                    <div id="u1045_text" class="text ">
                                        <p><span>新增电影</span></p>
                                    </div>
                                </div>

                                <!-- 轮播海报1 (矩形) -->
                                <div id="u1046" class="ax_default box_3" data-label="轮播海报1">
                                    <div id="u1046_div" class=""></div>
                                    <div id="u1046_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>

                                <!-- Unnamed (矩形) -->
                                <div id="u1047" class="ax_default label">
                                    <div id="u1047_div" class=""></div>
                                    <div id="u1047_text" class="text ">
                                        <p><span>轮播海报</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 影视管理2 (矩形) -->
                    <div id="u1048" class="ax_default box_2 ax_default_hidden" data-label="影视管理2" style="display:none; visibility: hidden">
                        <div id="u1048_div" class=""></div>
                        <div id="u1048_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- 影视管理 (矩形) -->
                    <div id="u1049" class="ax_default box_2" data-label="影视管理">
                        <div id="u1049_div" class=""></div>
                        <div id="u1049_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (图片 ) -->
                    <div id="u1050" class="ax_default _图片_">
                        <img id="u1050_img" class="img " src="images/影视管理--电影列表/u40.png"/>
                        <div id="u1050_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u1051" class="ax_default label">
                        <div id="u1051_div" class=""></div>
                        <div id="u1051_text" class="text ">
                            <p><span>影视管理</span></p>
                        </div>
                    </div>

                    <!-- 下拉1 (组合) -->
                    <div id="u1052" class="ax_default" data-label="下拉1" data-left="210" data-top="15" data-width="18" data-height="20">

                        <!-- 下拉 (图片 ) -->
                        <div id="u1053" class="ax_default _图片_" data-label="下拉">
                            <img id="u1053_img" class="img " src="images/影视管理--电影列表/下拉_u43.png"/>
                            <div id="u1053_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        <!-- 上拉 (图片 ) -->
                        <div id="u1054" class="ax_default _图片_ ax_default_hidden" data-label="上拉" style="display:none; visibility: hidden">
                            <img id="u1054_img" class="img " src="images/影视管理--电影列表/下拉_u43.png"/>
                            <div id="u1054_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 用户管理 (组合) -->
                <div id="u1055" class="ax_default" data-label="用户管理" data-left="0" data-top="234" data-width="259" data-height="106">

                    <!-- Unnamed (动态面板) -->
                    <div id="u1056" class="ax_default">
                        <div id="u1056_state0" class="panel_state" data-label="State1" style="">
                            <div id="u1056_state0_content" class="panel_state_content">

                                <!-- 电影列表1 (矩形) -->
                                <div id="u1057" class="ax_default box_3" data-label="电影列表1">
                                    <div id="u1057_div" class=""></div>
                                    <div id="u1057_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>

                                <!-- Unnamed (矩形) -->
                                <div id="u1058" class="ax_default label">
                                    <div id="u1058_div" class=""></div>
                                    <div id="u1058_text" class="text ">
                                        <p><span>用户列表</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 用户管理2 (矩形) -->
                    <div id="u1059" class="ax_default box_2" data-label="用户管理2">
                        <div id="u1059_div" class=""></div>
                        <div id="u1059_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- 用户管理 (矩形) -->
                    <div id="u1060" class="ax_default box_2" data-label="用户管理">
                        <div id="u1060_div" class=""></div>
                        <div id="u1060_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u1061" class="ax_default label">
                        <div id="u1061_div" class=""></div>
                        <div id="u1061_text" class="text ">
                            <p><span>用户管理</span></p>
                        </div>
                    </div>

                    <!-- 下拉1 (组合) -->
                    <div id="u1062" class="ax_default" data-label="下拉1" data-left="210" data-top="249" data-width="18" data-height="20">

                        <!-- 下拉 (图片 ) -->
                        <div id="u1063" class="ax_default _图片_" data-label="下拉">
                            <img id="u1063_img" class="img " src="images/影视管理--电影列表/下拉_u43.png"/>
                            <div id="u1063_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        <!-- 上拉 (图片 ) -->
                        <div id="u1064" class="ax_default _图片_ ax_default_hidden" data-label="上拉" style="display:none; visibility: hidden">
                            <img id="u1064_img" class="img " src="images/影视管理--电影列表/下拉_u43.png"/>
                            <div id="u1064_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (图片 ) -->
                    <div id="u1065" class="ax_default _图片_">
                        <img id="u1065_img" class="img " src="images/影视管理--电影列表/u55.png"/>
                        <div id="u1065_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>

                <!-- 订单管理 (组合) -->
                <div id="u1066" class="ax_default" data-label="订单管理" data-left="0" data-top="340" data-width="259" data-height="150">

                    <!-- Unnamed (动态面板) -->
                    <div id="u1067" class="ax_default">
                        <div id="u1067_state0" class="panel_state" data-label="State1" style="">
                            <div id="u1067_state0_content" class="panel_state_content">

                                <!-- 电影列表1 (矩形) -->
                                <div id="u1068" class="ax_default box_3" data-label="电影列表1">
                                    <div id="u1068_div" class=""></div>
                                    <div id="u1068_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>

                                <!-- Unnamed (矩形) -->
                                <div id="u1069" class="ax_default label">
                                    <div id="u1069_div" class=""></div>
                                    <div id="u1069_text" class="text ">
                                        <p><span>订单列表</span></p>
                                    </div>
                                </div>

                                <!-- 院线排片1 (矩形) -->
                                <div id="u1070" class="ax_default box_3" data-label="院线排片1">
                                    <div id="u1070_div" class=""></div>
                                    <div id="u1070_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>

                                <!-- Unnamed (矩形) -->
                                <div id="u1071" class="ax_default label">
                                    <div id="u1071_div" class=""></div>
                                    <div id="u1071_text" class="text ">
                                        <p><span>异常订单</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 影视管理2 (矩形) -->
                    <div id="u1072" class="ax_default box_2" data-label="影视管理2">
                        <div id="u1072_div" class=""></div>
                        <div id="u1072_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- 影视管理 (矩形) -->
                    <div id="u1073" class="ax_default box_2" data-label="影视管理">
                        <div id="u1073_div" class=""></div>
                        <div id="u1073_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u1074" class="ax_default label">
                        <div id="u1074_div" class=""></div>
                        <div id="u1074_text" class="text ">
                            <p><span>订单管理</span></p>
                        </div>
                    </div>

                    <!-- 下拉1 (组合) -->
                    <div id="u1075" class="ax_default" data-label="下拉1" data-left="210" data-top="355" data-width="18" data-height="20">

                        <!-- 下拉 (图片 ) -->
                        <div id="u1076" class="ax_default _图片_" data-label="下拉">
                            <img id="u1076_img" class="img " src="images/影视管理--电影列表/下拉_u43.png"/>
                            <div id="u1076_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        <!-- 上拉 (图片 ) -->
                        <div id="u1077" class="ax_default _图片_ ax_default_hidden" data-label="上拉" style="display:none; visibility: hidden">
                            <img id="u1077_img" class="img " src="images/影视管理--电影列表/下拉_u43.png"/>
                            <div id="u1077_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (图片 ) -->
                    <div id="u1078" class="ax_default _图片_">
                        <img id="u1078_img" class="img " src="images/影视管理--电影列表/u68.png"/>
                        <div id="u1078_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>

                <!-- 员工管理 (组合) -->
                <div id="u1079" class="ax_default" data-label="员工管理" data-left="0" data-top="490" data-width="259" data-height="150">

                    <!-- Unnamed (动态面板) -->
                    <div id="u1080" class="ax_default">
                        <div id="u1080_state0" class="panel_state" data-label="State1" style="">
                            <div id="u1080_state0_content" class="panel_state_content">

                                <!-- 电影列表1 (矩形) -->
                                <div id="u1081" class="ax_default box_3" data-label="电影列表1">
                                    <div id="u1081_div" class=""></div>
                                    <div id="u1081_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>

                                <!-- Unnamed (矩形) -->
                                <div id="u1082" class="ax_default label">
                                    <div id="u1082_div" class=""></div>
                                    <div id="u1082_text" class="text ">
                                        <p><span>员工列表</span></p>
                                    </div>
                                </div>

                                <!-- 院线排片1 (矩形) -->
                                <div id="u1083" class="ax_default box_3" data-label="院线排片1">
                                    <div id="u1083_div" class=""></div>
                                    <div id="u1083_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>

                                <!-- Unnamed (矩形) -->
                                <div id="u1084" class="ax_default label">
                                    <div id="u1084_div" class=""></div>
                                    <div id="u1084_text" class="text ">
                                        <p><span>新增员工</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 影视管理2 (矩形) -->
                    <div id="u1085" class="ax_default box_2" data-label="影视管理2">
                        <div id="u1085_div" class=""></div>
                        <div id="u1085_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- 影视管理 (矩形) -->
                    <div id="u1086" class="ax_default box_2" data-label="影视管理">
                        <div id="u1086_div" class=""></div>
                        <div id="u1086_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u1087" class="ax_default label">
                        <div id="u1087_div" class=""></div>
                        <div id="u1087_text" class="text ">
                            <p><span>员工管理</span></p>
                        </div>
                    </div>

                    <!-- 下拉1 (组合) -->
                    <div id="u1088" class="ax_default" data-label="下拉1" data-left="210" data-top="505" data-width="18" data-height="20">

                        <!-- 下拉 (图片 ) -->
                        <div id="u1089" class="ax_default _图片_" data-label="下拉">
                            <img id="u1089_img" class="img " src="images/影视管理--电影列表/下拉_u43.png"/>
                            <div id="u1089_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        <!-- 上拉 (图片 ) -->
                        <div id="u1090" class="ax_default _图片_ ax_default_hidden" data-label="上拉" style="display:none; visibility: hidden">
                            <img id="u1090_img" class="img " src="images/影视管理--电影列表/下拉_u43.png"/>
                            <div id="u1090_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (图片 ) -->
                    <div id="u1091" class="ax_default _图片_">
                        <img id="u1091_img" class="img " src="images/影视管理--电影列表/u81.png"/>
                        <div id="u1091_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (圆形) -->
    <div id="u1092" class="ax_default ellipse">
        <img id="u1092_img" class="img " src="images/影视管理--电影列表/u277.svg"/>
        <div id="u1092_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u1093" class="ax_default label">
        <div id="u1093_div" class=""></div>
        <div id="u1093_text" class="text ">
            <p th:object="${user123}">
                <span th:text="*{nickname}">admin</span>
                <span th:text="${'管理员'}" th:if="*{errorNum}==5">admin</span>
                <span th:text="${'客服'}" th:if="*{errorNum}==10">admin</span>
            </p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u1094" class="ax_default box_2 ax_default_hidden" style="display:none; visibility: hidden">
        <div id="u1094_div" class=""></div>
        <div id="u1094_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- admin (动态面板) -->
    <div id="u1095" class="ax_default ax_default_hidden" data-label="admin" style="display:none; visibility: hidden">
        <div id="u1095_state0" class="panel_state" data-label="State1" style="">
            <div id="u1095_state0_content" class="panel_state_content">

                <!-- Unnamed (矩形) -->
                <div id="u1096" class="ax_default box_2">
                    <div id="u1096_div" class=""></div>
                    <div id="u1096_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1097" class="ax_default box_2">
                    <div id="u1097_div" class=""></div>
                    <div id="u1097_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- 222 (矩形) -->
                <div id="u1098" class="ax_default box_2" data-label="222">
                    <div id="u1098_div" class=""></div>
                    <div id="u1098_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (图片 ) -->
                <div id="u1099" class="ax_default _图片_">
                    <img id="u1099_img" class="img " src="images/影视管理--电影列表/u284.png"/>
                    <div id="u1099_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1100" class="ax_default label">
                    <div id="u1100_div" class=""></div>
                    <div id="u1100_text" class="text ">
                        <p><span>个人设置</span></p>
                    </div>
                </div>

                <!-- Unnamed (图片 ) -->
                <div id="u1101" class="ax_default _图片_">
                    <img id="u1101_img" class="img " src="images/影视管理--电影列表/u286.png"/>
                    <div id="u1101_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1102" class="ax_default label">
                    <div id="u1102_div" class=""></div>
                    <div id="u1102_text" class="text ">
                        <p><span>退出登录</span></p>
                    </div>
                </div>

                <!-- Unnamed (动态面板) -->
                <div id="u1103" class="ax_default">
                    <div id="u1103_state0" class="panel_state" data-label="State1" style="">
                        <div id="u1103_state0_content" class="panel_state_content">
                        </div>
                    </div>
                </div>

                <!-- Unnamed (热区) -->
                <div id="u1104" class="ax_default">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="resources/scripts/axure/ios.js"></script>
</body>
</html>
